version: '3.8'

services:
  app:
    build:
      context: .
    container_name: spring-dev
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - dev-network
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: postgres-dev
    environment:
      POSTGRES_DB: ${SPRING_DATASOURCE_DATABASE_NAME}
      POSTGRES_USER: ${SPRING_DATASOURCE_USERNAME}
      POSTGRES_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - dev-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${SPRING_DATASOURCE_USERNAME} -d ${SPRING_DATASOURCE_DATABASE_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5


  ftp:
    volumes:
      - ftp-data:/ftp/springcamelintegration
    image: "delfer/alpine-ftp-server"
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    environment:
      - USERS=${FTP_USERNAME}|${FTP_PASSWORD}|${FTP_USER_HOME}|${FTP_USER_UID}|${FTP_USER_GID}
    networks:
      - dev-network

  adminer:
    image: adminer
    container_name: adminer-dev
    ports:
      - "8081:8080"
    networks:
      - dev-network
    depends_on:
      - postgres

volumes:
  gradle-cache:
  postgres-data:
  ftp-data:

networks:
  dev-network:
    driver: bridge